.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    margin: 0;
    color: hsl(270, 9%, 17%);
    font-size: 1em;
    font-family: 'Karla', sans-serif;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;
    font-family: 'DM Serif Display', serif;
}

h1 {
    font-size: 4.2rem;
    line-height: 1;
}

h2 {
    font-size: 2rem;
    line-height: 1;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 60px;
    padding: 10px 0;
    background-color: #ffffff;
}

.logo {
    float: left;
    margin: 20px 0;
}

.nav-bar {
    width: 80%;
    margin: 0 auto;
}

.nav-menu {
    float: right;
}

.menu-item,
.outlined {
    display: inline-block;
    height: 40px;
    margin: 8px 0;
    padding: 0 20px;
    color: hsl(270, 9%, 17%, 0.5);
    font-size: .9rem;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}

.menu-item:hover {
    color: hsl(270, 9%, 17%);
}

.outlined {
    border: 2px solid;
    color: hsl(270, 9%, 17%);
}

.nav-bar .outlined {
    border-color: hsl(270, 9%, 17%);
    color: hsl(270, 9%, 17%);
}

.nav-bar .outlined:hover {
    background-color: hsl(270, 9%, 17%);
    color: #ffffff;
}

.welcome {
    position: relative;
    top: 60px;
    height: 90vh;
    background-color: hsl(256, 26%, 20%);
    color: #ffffff;
}

.welcome-content {
    clear: right;
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: left;
}

hr {
    margin: 30px 0;
    border: 0.5px solid #d0d0d0;
}

.quarter-hr {
    display: inline-block;
    width: 15%;
    margin: 50px 0 35px;
    border: 1px solid #ffffff;
}

.welcome p {
    margin: 25px 0;
    font-size: 1.05rem;
    line-height: 1.5;
}

.welcome .outlined,
.cto .outlined {
    border-color: #ffffff;
    width: 120px;
    margin: 20px 0;
    color: #ffffff;
}

.welcome .outlined:hover,
.cto .outlined:hover {
    background-color: #ffffff;
    color: hsl(256, 26%, 20%);
}

.image-intro {
    float: right;
    width: 50%;
    margin: 50px 0 35px 50px;
}

.intro-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 30%;
}

.intro-left {
    position: absolute;
    top: 60vh;
    left: 0;
}

.comparison {
    position: relative;
    top: 60px;
    width: 80%;
    margin: 300px auto 150px;
}

.comparison hr {
    border-color: #909090;
}

.comparison-group {
    width: 100%;
    margin: 75px 0 150px;
}

.comparison-item {
    display: inline-block;
    width: 32%;
    margin: 0;
}

.comparison-item img {
    margin: 25px 0;
}

.compare-except {
    margin: 0 1.65%;
}

.cto {
    background-repeat: no-repeat;
    background-position: right top;
    position: relative;
    padding: 70px;
    background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
    background-color: hsl(256, 26%, 20%);
    color: #ffffff;
}

.cto h1 {
    width: 53%;
    font-size: 3.5rem;
}

.cto .outlined {
    float: right;
    z-index: 1;
    margin: 35px;
}

footer {
    background-position: top left;
    background-repeat: no-repeat;
    position: relative;
    top: 60px;
    width: 100%;
    padding: 70px 0 50px;
    background-image: url(../images/bg-pattern-footer-desktop.svg);
    background-color: hsl(0, 0%, 98%);
}

footer .container {
    width: 80%;
    margin: 0 auto;
}

.social {
    display: inline;
    float: right;
}

.social img {
    padding: 0 5px;
}

.foot-content {
    display: inline-block;
    width: 20%;
    margin: 0 2.35%;
}

.foot-content h4 {
    margin-bottom: 30px;
    color: hsl(273, 4%, 51%);
    font-weight: 400;
}

.foot-content a {
    text-transform: uppercase;
    display: block;
    margin: 15px 0;
    color: hsl(256, 26%, 20%);
    font-size: 0.8em;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1pt;
}

.foot-content a:hover {
    text-decoration: underline;
}